{% extends "layout.html" %}

{% block title %}
    {{ SelectionName }}
{% endblock %}

{% block main %}

    <!-- http://jquery.com/ -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <!-- http://getbootstrap.com/ -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- https://github.com/corejavascript/typeahead.js/blob/master/doc/jquery_typeahead.md -->
    <script src="https://cdn.rawgit.com/corejavascript/typeahead.js/master/dist/typeahead.jquery.js"></script>

    <!-- http://handlebarsjs.com/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- app's own JavaScript, mainly for typeahead -->
    <script src="/static/scripts.js"></script>


        <!-- Fill viewport -->
        <div>
            <!-- http://getbootstrap.com/css/#forms -->
            <form id="form" name="change_stock" action="/infoboard" method="post">
                <div class="form-group">
                    <label class="sr-only" for="q">Stock name or WKN</label>
                    <input class="form-control" id="q" name="name_shortname" placeholder="Stock name or WKN" autocomplete="off" type="text"/>
                </div>
            </form>
        </div>


    <h1>{{ SelectionName }}</h1>
    <h2>Test 1</h2>
    <h2>Test 2</h2>
    <h2>Test 3</h2>
    <h2>Test 4</h2>
    <h2>Test 5</h2>

    <div style="height:'100%'"></div>

{% endblock %}
